<html>
  <head>
    <title>Posts</title>
  </head>
  <body>
    <h1>Hello Index</h1>
    <%= notice %><br/>
    <%= link_to 'Create new post', new_post_path %>

    <% @posts.each do |post|%>
      <p>
        <label>ID:</label>
        <%= post.id %>
      </p>
      <p>
        <label>Title:</label>
        <%= post.title %>
      </p>
      <p>
        <label>Post Body:</label>
        <%= post.body%>
      </p>
      <p><%= link_to 'Show Post' , post_path(post) %>&nbsp&nbsp
        <%= link_to 'Edit Post' , edit_post_path(post) %>&nbsp&nbsp
        <%= link_to 'Delete' , post, method: :delete, data: {confirm: "Are you sure?"}%></p>
      <p></p>
    <% end %>


  </body>
</html>