<h1>Index Show</h1>
<%= notice %>
<p>
  <p>ID: <%= @post.id %></p>
  <p>Title: <%= @post.title%></p>
  <p>Post: <%= @post.body %></p>
</p>
<p><%= link_to 'Edit Post', edit_post_path(@post) %>&nbsp&nbsp<%= link_to 'All Posts' , posts_path %></p>